body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
body::after {
  display: block;
  height: 50px;
  content: "";
  width: 100%;
  background-color: rgb(255, 255, 255);
}
nav {
  font-size: 16px;
  width: 100%;
  background-color: rgba(0, 0, 139);
}

.list {
  list-style-type: none;
  background-color: rgba(0, 0, 139);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.list a {
  color: black;
  text-decoration: none;
  padding: 10px 10px 5px 5px;
  display: block;
  text-align: left;
  justify-content: center;
}

.navbar a:hover {
  background-color: lightskyblue;
}

.list li a {
  color: rgb(241, 235, 209);
  backdrop-filter: blur(10px);
}

.list li:last-child {
  justify-content: end;
}
.menubut {
  display: flex;
  display: none;
}
main {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  flex: 5 5 200px;
  max-width: 75vw;
  align-content: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: -6px 0px 20px darkblue;
  backdrop-filter: blur(1000px);
  color: black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  margin: 2px;
}
#closebut p {
  cursor: pointer;
}
#frameindex {
  width: 100%;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: center;
  border: 0cm;
  position: static;
  top: 0;
  z-index: 10;
  background-color: white;
}

.main {
  display: flex;
  flex: 2;
  text-align: left;
  width: 50vw;
  height: 80%;
}
header {
  background-color: white;
  padding: 0px;
}
.right {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  flex: 0 0 100px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
footer {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  position: absolute;
  width: 100%;
}
#indeximage {
  width: 400px;
}

#framefooter {
  width: 80%;
  height: 40px;
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  border: 0cm;
  position: static;
  top: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  vertical-align: baseline;
}
#contbut {
  display: none;
  width: 50px;
}
a {
  color: black;
  text-decoration: none;
}

main {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 800px) {
  #imgind {
    width: 250px;
  }
  .main {
    width: 100%;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    height: 80%;
  }
}
@media all and (max-width: 670px) {
  .sidebar {
    top: 0px;
  }
  .menubut,
  .contentbut {
    display: flex;
    padding-right: 20px;
  }
  .listelement {
    display: none;
  }
  nav ul:first-child {
    justify-content: end;
  }
  #content {
    display: none;
  }
  #imgind {
    width: 200px;
  }
  .main {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  main {
    width: 100vw;
  }
  main h2 {
    font-size: 1.2rem;
  }
  main h3 {
    font-size: 1rem;
  }
  .navbar {
    top: 0;
    display: flex;
    flex-direction: column;
    height: min-content;
    backdrop-filter: blur(0px);
    position: sticky;
  }
  #frameindex {
    height: 100px;
  }
  .restimg {
    width: 10px;
  }
  .grid-container div {
    text-align: center;
    padding: 0px 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto 250px auto;
    gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  #imgind {
    width: 250px;
  }
  main {
    max-width: 100%;
  }
}
html {
  height: 100%;
}
